/******************************
    BUTTONS
******************************/
.btn{
    display: inline-block;
    cursor: pointer;
    padding: 0.875rem 1.3125rem;
    
    border: none;
    border-radius: 4px;
    
    font-family: var(--ff-hind);
    font-weight: var(--fw-medium);
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    transition: background-color 0.4s ease-in-out;
}

.btn--white{
    color: var(--color-blue-1);
    border: 1px solid var(--color-border-2);
    background-color: var(--color-white);
}

.btn--white:hover{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
} 

.btn--primary:hover{
    background-color: var(--color-dark-blue);
}

.btn--newsletter{
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    padding: 12px 25px;
    height: 50px; 
    font-weight: var(--fw-semi-bold);
}

.btn--img{
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 19px 24px 16px;
    margin: 0 auto;
}

.btn--search{
    padding: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
}

.btn--search:hover{
    filter: invert(32%) sepia(76%) saturate(1355%) hue-rotate(190deg) brightness(98%) contrast(99%);
}