/************************
    INSTRUCTOR SECTION
************************/
.instructor-title{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.instructor-title .sub-title{
    margin: 0 auto;
}

.instructor-heading{
    font-family: var(--ff-lexend);
    margin: 13px 0 15px;
    font-size: 29px;
    color: var(--color-dark-blue);
}

.instructor-wrapper{
    margin-top: 30px;
}

.instructor-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor-background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 95px);
    z-index: -1;
}

.instructor-background--1{
    border-radius: 135px 0 0 0;
    background-color: #E2FAFF;
}

.instructor-background--2{
    border-radius: 135px 115px 115px 0;
    background-color: #E2FAFF;
}

.instructor-background--3{
    border-radius: 135px 0 0 0;
    background-color: #E8EDFF;
}

.instructor-background--4{
    border-radius: 135px 115px 115px 0;
    background-color: #FFE2E2;
}

.instructor-content{
    font-family: var(--ff-lexend);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instructor-name{
    margin-top: 8px;
}

.instructor-post{
    color: var(--color-blue-1);
    font-weight: var(--fw-regular);
    line-height: 1;
    font-size: 15px;
}

.instructor-name{
    color: var(--color-dark-blue);
    font-size: 22px;
}

/* share images start */
.share-img-group{
    position: relative;
}

.img-wrapper--share{
    background-color: var(--color-gray-1);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.img-wrapper--share:hover{
    background-color: var(--color-primary);
}

.img-wrapper--share:hover img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.share-social-group{
    position: relative;
    bottom: calc(100% + 20px);
    gap: 10px;
    padding-bottom: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.img-wrapper--social{
    position: absolute;
    bottom: calc(100% + 50px);
    left: 0;
    background-color: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.img-wrapper--social:hover{
    background-color: white;
}

.img-wrapper--social:hover img{
    filter: invert(34%) sepia(96%) saturate(4308%) hue-rotate(210deg) brightness(90%) contrast(92%);
}

.share-img-group:hover .share-social-group{
    visibility: visible;
    opacity: 1;
}

.share-img-group:hover .share-social-group .img-wrapper--social-1{
    transform: translateY(-50px);
}

.share-img-group:hover .share-social-group .img-wrapper--social-2{
    transform: translateY(-100px);
}

.share-img-group:hover .share-social-group .img-wrapper--social-3{
    transform: translateY(-150px);
}
/* share images start end */

@media (min-width: 768px){
    .instructor-title{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .instructor-title__left{
        text-align: left;
    }

    .instructor-heading{
        font-size: 36px;
    }

    .instructor-title .btn--img{
        margin: 0;
    }

    .instructor-img-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .instructor-wrapper{
        padding: 0 15px;
        width: 50%;
    }
}

@media (min-width: 992px){
    .instructor-wrapper{
        width: 33.33333%;
    }
}

@media (min-width: 1200px){
    .instructor-wrapper{
        width: 25%;
    }
}