*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

input, button, textarea, select {
    font: inherit;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

ul{
    list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}