:root{
    /* COLORS */
    --color-primary: #1363DF;
    --color-light-blue: #03C0EA;
    --color-dark-blue: #082A5E;
    --color-dark-blue-1: #061E43;
    --color-blue-1: #5A7093;
    --color-blue-2: #39557E;
    --color-blue-3: #D0DFF7;
    --color-green-1: #82B440;
    --color-green-2: #12BB6A;
    --color-green-3: #04BC53;
    --color-purple-1: #8121FB;
    --color-purple-2: #BC18E4;
    --color-red: #FF2020;
    --color-pink: #FF109F;
    --color-yellow: #FAB123;
    --color-card-bg-gray: #F4F7FB;
    --color-gray-1: #E7EFFC;
    --color-gray-2: #B2BDCD;
    --color-gray-3: #8D9DB5;
    --color-gray-4: #8798B3;
    --color-white: #fff;
    --color-black: #000;

    /* BORDER COLORS */
    --color-border-1: #ECECEC;
    --color-border-2: #D0DAE9;
    --color-border-3: #E2E2E2;
    --color-border-4: #D7DCE3;
    --color-border-5: #2F466A;

    /* FONT SIZES */
    --fs-heading-1: 3.4375rem;
    --fs-heading-4: 1.875rem;
    --fs-normal: 1rem;
    --fs-medium: 1.125rem;
    --fs-medium-1: 1.25rem;
    --fs-small: 0.875rem;
    --fs-btn: 1rem;

    /* FONT FAMILIES */
    --ff-lexend: 'Lexend Deca', sans-serif;
    --ff-hind: 'Hind', sans-serif;

    /* FONT WEIGHTS */
    --fw-extra-bold: 800;
    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;

    /* LINE HEIGHTS */
    --heading-line-height: 1.2;
    --body-line-height: 1.75;

    /* PADDINGS */
    --padding-nav: 1.25rem;
}

body{
    font-family: var(--ff-hind);
}

.container{
    width: 100%;
    max-width: 540px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
        padding: 0 30px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
        padding: 0 40px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1500px;
        padding: 0 150px;
    }
    
    .container--nav{
        padding: 0 85px;
    }
}

@media (min-width: 1500px) {
    .container{
        max-width: 1600px;
    }

    .container--nav{
        max-width: 1700px;
    }
}

section{
    padding: 55px 0;
}

.section--hero{
    padding-top: 175px;
    background: url('/assets/images/banner_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section--carousel{
    border-bottom: 1px solid var(--color-gray-2);
}

.section--blog{
    background-color: #f5f7fb;
    padding: 205px 0 90px;
    margin-top: 185px;
}

.flex{
    display: flex;
}

.flex--center{
    justify-content: center;
    align-items: center;
}

.d-none{
    display: none;
}

.active{
    color: var(--color-primary);
}

hr{
    height: 1px;
    background-color: var(--color-blue-2);
    border: none;
}

/********************
    BRAND SECTION
********************/
.carousel{
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-wrapper--carousel{
    filter: grayscale(1);
    opacity: 0.4;
}

.img-wrapper--carousel:hover{
    filter: grayscale(0);
    opacity: 1;
}