:root{
    /* COLORS */
    --color-primary: #1363DF;
    --color-light-blue: #03C0EA;
    --color-dark-blue: #082A5E;
    --color-dark-blue-1: #061E43;;
    --color-blue-1: #5A7093;
    --color-blue-2: #39557E;
    --color-green-1: #82B440;
    --color-green-2: #12BB6A;
    --color-green-3: #04BC53;
    --color-purple-1: #8121FB;
    --color-purple-2: #BC18E4;
    --color-red: #FF2020;
    --color-pink: #FF109F;
    --color-yellow: #FAB123;
    --color-card-bg-gray: #F4F7FB;
    --color-gray-1: #E7EFFC;
    --color-gray-2: #B2BDCD;
    --color-gray-3: #8D9DB5;
    --color-gray-4: #8798B3;
    --color-white: #fff;
    --color-black: #000;

    /* BORDER COLORS */
    --color-border-1: #ECECEC;
    --color-border-2: #D0DAE9;
    --color-border-3: #E2E2E2;
    --color-border-4: #D7DCE3;
    --color-border-5: #2F466A;

    /* FONT SIZES */
    --fs-heading-1: 3.4375rem;
    --fs-heading-4: 1.875rem;
    --fs-normal: 1rem;
    --fs-medium: 1.125rem;
    --fs-medium-1: 1.25rem;
    --fs-small: 0.875rem;
    --fs-btn: 1rem;

    /* FONT FAMILIES */
    --ff-lexend: 'Lexend Deca', sans-serif;
    --ff-hind: 'Hind', sans-serif;

    /* FONT WEIGHTS */
    --fw-extra-bold: 800;
    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;

    /* LINE HEIGHTS */
    --heading-line-height: 1.2;
    --body-line-height: 1.75;

    /* PADDINGS */
    --padding-nav: 1.25rem;
}

body{
    font-family: var(--ff-hind);
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 768px){
    .container{
        padding: 0 30px;
    }
}

@media (min-width: 992px){
    .container{
        padding: 0 40px;
    }
}

@media (min-width: 1200px){
    .container{
        padding: 0 150px;
    }

    .container--nav{
        padding: 0 85px;
    }
}

@media (min-width: 1500px) {
    .container{
        max-width: 1400px;
    }

    .container--nav{
        max-width: 1700px;
    }
}

.flex{
    display: flex;
}

.flex--center{
    justify-content: center;
    align-items: center;
}

.d-none{
    display: none;
}

.active{
    color: var(--color-primary);
}

hr{
    height: 1px;
    background-color: var(--color-blue-2);
    border: none;
}

/************************
    FOOTER
************************/
footer{
    font-family: var(--ff-lexend);
    background-color: var(--color-dark-blue-1);
    color: var(--color-white);
}

.footer__top-content{
    padding: 105px 0;
}

.footer-main{
    margin-bottom: 50px;
}

.footer-main__content{
    color: var(--color-gray-2);
    line-height: 1.75;
    font-family: var(--ff-hind);
    margin: 25px 0 20px;
}

.location,
.number{
    color: var(--color-gray-1);
    font-family: var(--ff-hind);
    margin-bottom: 13px;
    font-weight: var(--fw-medium);
}

.social-group{
    display: flex;
    gap: 10px;
    margin-top: 18px;
}

.social .img-wrapper{
    transition: all 0.5s ease;
}

.social:hover .img-wrapper{
    filter: invert(86%) sepia(18%) saturate(221%) hue-rotate(176deg) brightness(87%) contrast(86%);
}

.footer-list-wrapper{
    margin-bottom: 50px;
}

.footer-list__heading,
.working-hours__heading{
    font-size: 1.5rem;
    margin-bottom: 26px;
}

.footer-list__item,
.timing{
    color: var(--color-gray-2);
}

.footer-list__item{
    padding: 8px 0;
}

.timing-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 26px 0 15px;
    position: relative;
}

.days{
    font-weight: var(--fw-bold);
}

.footer__bottom-content{
    padding: 30px 0;
    text-align: center;
    color: var(--color-gray-4);
    font-weight: var(--fw-regular);
    line-height: 1.75;
}

.footer-extra{
    padding: 10px 15px 0;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 768px){
    .footer__top-content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-main,
    .footer-list-wrapper,
    .working-hours-wrapper{
        width: 50%;
    }

    .footer-extra{
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 992px){
    .footer-main{
        width: 25%;
    }

    .working-hours-wrapper{
        width: 35%;
    }

    .footer-list-wrapper,
    .working-hours-wrapper{
        width: 20%;
    }

    .footer__bottom-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-extra{
        width: 30%;
        margin: 0;
        padding: 0;
    }
}